@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@font-face {
    font-family: 'LucideIcons';
    src: url(https://unpkg.com/lucide-static@latest/font/Lucide.ttf) format('truetype');
}
body{
    font-family: Montserrat, sans-serif;
    background: #24242f;
    color: white;
    text-align: center;
}
#container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    gap: 5rem;
}

.title{
    margin-top: 1rem;
    font-size: 30pt;
    font-weight: bold;
    margin-bottom: 2rem;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    font-size: 10pt;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    opacity: .7;
    >a{
        display: inline-block;
    }
}
h1 {
    margin: 0;
    padding: 0;
}
input{
    font-family: Montserrat, sans-serif;
    padding: .5rem 1rem;
}
button{
    transition: .2s all ease-in-out;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
    background: transparent;
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: white;
    outline: none;
    border: #870FFF solid .3rem;
}
button:hover{
    background: #870FFF;
}

#contextmenu{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: #191921;
    padding: .5rem 1rem;
    border-radius: .5rem;
    z-index: 999;
    justify-content: flex-start;
    align-items: flex-start;
}
.opacity-0{
    opacity: 0;
}
#contextmenu > div{
    cursor: pointer;
    width: 100%;
    text-align: left;
}
#contextmenu > div:hover{
    text-decoration: underline;
}

.langs{
    display: flex;
    position: fixed;
    top: 1rem;
    right: 1rem;
    gap: .5rem;
    flex-direction: column;
    text-align: right;
}
.lang_option{
    cursor: pointer;
}
.lang_option:hover{
    text-decoration: underline;
}
.lang_option[data-choosed]{
    font-weight: bold;
    cursor: default;
}
.lang_option[data-choosed]:hover{
    text-decoration: none;
}
.dragBg{
    position: absolute;
    z-index: 99999;
    background: rgba(135, 15, 255, .3);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.dragBg > div > svg{
    scale: 10;
}
.dragBg > div{
    opacity: .5;
    animation: dragBg .5s ease-in-out;
}
.dragBg > div > div{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30pt;
    margin-top: 7rem;
}
.none {
    display: none;
    z-index: -99;
}

@keyframes dragBg {
    0%{
        opacity: 0;
        transform: translateY(60%);
    }
    100%{
        opacity: .5;
        transform: translateY(0);
    }
}
